{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    
    <title>Document</title>
</head>
<body>
    <h1> Adicionar o livro malandro</h1>

    <a href="{% url 'add-genero' %}" class=" btn btn-primary mt-5 mb-1"> Adicionar Genero</a>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mt-2">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 3000); 
        </script>
    {% endif %}
    <form method="POST"  class="container mt-5" enctype="multipart/form-data">{% csrf_token %}
        <input type="text" name="name" placeholder="Nome">
        <select name="genery" id="">
            {% for genero in generos %}
            <option value="{{genero.id}}">{{ genero.name }}</option>
            {% endfor%}
        </select>
        <input type="text" name="pg" placeholder="Paginas">
        <input type="file" name="picture" placeholder="Imagem">
        <input type="text" name="author" placeholder="Autor">
        <input type="text" name="qtd" placeholder="Quantidade">
        
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'home' %}" class=" btn btn-primary mt-5 mb-1"> home</a>

    <table class="table table-dark m-5">
      <thead>
          <tr>
              <th scope="col">Desativar</th>
              <th scope="col">cod</th>
              <th scope="col">Nome</th>
              <th scope="col">Autor</th>
              <th scope="col">Qtd</th>
              <th scope="col">Qtd emprestado</th>
              <th scope="col">User</th>
          </tr>
      </thead>
      <tbody>
          {% for livro in livros %}
          <tr>
              <td>
                {% if livro.in_stock %}
                    <a href="{% url 'desativar-livro' livro.id %}">Desativar</a>
                {% else %}
                    <a href="{% url 'ativar-livro' livro.id %}">Ativar</a>
                {% endif %}
              </td>
              <td scope="row">{{ livro.cod }}</td>
              <td>
                  <a href="{% url 'livro-detail' livro.id %}">
                      {{ livro.name }}
                  </a>
              </td>
              <td>{{ livro.author }}</td>
              <td>{{ livro.qtd }}</td>
              <td>{{ livro.emprestado }}</td>
              <td>{{ livro.user }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

</body>
</html>