{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="{% static 'js/bibliotecaScript.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1> Adicionar O genero</h1>
    <form method="POST"  class="container mt-5" enctype="multipart/form-data">{% csrf_token %}
        <input type="text" name="name" placeholder="Nome">      
        <button type="submit">Salvar</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mt-2">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 3000); 
        </script>
    {% endif %}
    <h1> Generos cadastrados </h1>
    <table class="table table-dark m-5">
        <thead>
          <tr>

            <th scope="col">Deletar</th>
            <th scope="col">cod</th>
            <th scope="col">Nome</th>
            <th scope="col">User</th>
                        
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for genero in generos %}

            <td><a href="{% url 'delete-genero' genero.id %}" class="btn btn-danger">Excluir Genero </a></td>
            <td>{{ genero.id }}</td>
            <td>{{ genero.name }}</td>
            <td>{{ genero.user }}</td> 
          </tr>
          {% endfor %}
        
        </tbody>
      </table>
    <a href="{% url 'home' %}" class=" btn btn-primary mt-5 mb-1"> home</a>
    <a href="{% url 'add-livro' %}" class=" btn btn-primary mt-5 mb-1"> voltar</a>
    
    
    
</body>
</html>