{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    
    <title>Document</title>
</head>
<body>
    <h1> Empresta o livro malandro</h1>
    <form method="POST" action="{% url 'add-emprestimo' %}" class="container mt-5" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="cliente" id="">
        <option value="" selected disabled>Selecione um cliente</option>
        {% for cliente in clientes %}
            <option value="{{ cliente.id }}">{{ cliente.name }}</option>
        {% endfor %}
    </select>

    <h2>Livros Disponíveis para Empréstimo</h2>
    <table class="table table-dark m-5">
        <thead>
            <tr>
                <th scope="col">Selecionar</th>
                <th scope="col">Cod</th>
                <th scope="col">Nome</th>
                <th scope="col">Autor</th>
                
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
                <tr>
                    <td scope="row">
                        <input type="checkbox" name="livros_emprestimo[]" value="{{ livro.id }}">
                    </td>
                    <td>{{ livro.cod }}</td>
                    <td>
                        <a href="{% url 'livro-detail' livro.id %}">
                            {{ livro.name }}
                        </a>
                    </td>
                    <td>{{ livro.author }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <input type="text" name="data_prev_devolucao" placeholder="data para devolução">
    
    <button type="submit">Salvar</button>
</form>
    <a href="{% url 'home' %}" class=" btn btn-primary mt-5 mb-1"> home</a>
</body>
</html>