{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="{% static 'js/bibliotecaScript.js' %}"></script>
    <title>Adicionar Cliente</title>
</head>
<body>
    <h1>Adicionar Cliente</h1>
    <form method="POST" class="container mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nome"><br>
        <input type="text" name="cpf" placeholder="CPF"><br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="checkbox" id="active" name="active">
        <label for="active">Ativar/Desativar</label><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'home' %}" class="btn btn-primary mt-5 mb-1">Home</a>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mt-2">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 3000); 
        </script>
    {% endif %}
    
    <table class="table table-dark m-5">
        <thead>
            <tr>
                <th scope="col">Selecionar</th>
                <th scope="col">Cod</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Qtd Livros</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>
                    {% if cliente.active %}
                        <a href="{% url 'desativar-cliente' cliente.id %}">Desativar</a>
                    {% else %}
                        <a href="{% url 'ativar-cliente' cliente.id %}">Ativar</a>
                    {% endif %}
                </td>
                <td scope="row">{{ cliente.cod }}</td>
                <td>
                    <a href="{% url 'cliente-detail' cliente.id %}">
                        {{ cliente.name }}
                    </a>
                </td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.qtd_livros }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>