{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="{% static 'js/bibliotecaScript.js' %}"></script>
    
    <title>Document</title>
</head>
<body>
    <h1>Emprestar livro para o cliente</h1>

    <!-- Formulário para selecionar um cliente -->
    <form id="cliente-form" action="{% url 'selecionar-cliente' %}" method="GET" class="d-flex gap-1">
        <select name="q">
            <option value="" selected disabled>Selecione um cliente</option>
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.name }}</option>
            {% endfor %}
        </select>
        <button id="buscar-btn" class="btn btn-success" disabled>Buscar</button>
    </form>

    <!-- Formulário para empréstimo de livros -->
    <form id="emprestimo-form" method="POST" action="{% url 'add-emprestimo' %}" class="container mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="cliente" value="{{ cliente.id }}"> 
        <h2>Livros Disponíveis para Empréstimo</h2>
        <table class="table table-dark m-5">
            <thead>
                <tr>
                    <th scope="col">Selecionar</th>
                    <th scope="col">Cod</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Autor</th>
                </tr>
            </thead>
            <tbody>
                <!-- Exibir livros devolvidos -->
                {% for livro in livros_devolvidos %}
                    <tr>
                        <td scope="row">
                            <input type="checkbox" name="livros_emprestimo[]" value="{{ livro.id }}">
                        </td>
                        <td>{{ livro.cod }}</td>
                        <td>
                            <a href="{% url 'livro-detail' livro.id %}">
                                {{ livro.name }}
                            </a>
                        </td>
                        <td>{{ livro.author }}</td>
                    </tr>
                {% endfor %}

                <!-- Exibir livros disponíveis para empréstimo -->
                {% for livro in livros_nao_emprestados %}
                    <tr>
                        <td scope="row">
                            <input type="checkbox" name="livros_emprestimo[]" value="{{ livro.id }}">
                        </td>
                        <td>{{ livro.cod }}</td>
                        <td>
                            <a href="{% url 'livro-detail' livro.id %}">
                                {{ livro.name }}
                            </a>
                        </td>
                        <td>{{ livro.author }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Campo para data de devolução -->
        <input id="data-devolucao" type="date" name="data_prev_devolucao" placeholder="Data para devolução">
        
        <button id="salvar-btn" type="submit" disabled>Salvar</button>
    </form>

    <!-- Link para a home -->
    <a href="{% url 'home' %}" class="btn btn-primary mt-5 mb-1">Home</a>
</body>
</html>