{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    
    <title>Livros Emprestados</title>
</head>
<body>
    <h1>Livros Emprestados</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mt-2">
                <h3>{{ message }}</h3>
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 3000); 
        </script>
    {% endif %}

    <a href="{% url 'home'  %}" class="btn btn-primary mt-5 mb-1">Voltar à home</a>
    <table class="table table-dark m-5">
        <thead>
            <tr>
                <th scope="col">Selecionar</th>
                <th scope="col">Cod Emprestimo</th>
                <th scope="col">Cod Livro</th>
                <th scope="col">Nome</th>
                <th scope="col">Autor</th>
                <th scope="col">Cliente</th>
                <th scope="col">Dt prev Devolução</th>
                <th scope="col">Dias p devolver</th>
                
                

            </tr>
        </thead>
        <tbody>
            {% for emprestimo_info in emprestimos_info %}
            <tr>
                <td>
                    <a href="{% url 'devolver-livro' emprestimo_info.emprestimo.id %}">
                        Devolver
                    </a>
                </td>
                <td>{{ emprestimo_info.emprestimo.id }}</td>
                <td>{{ emprestimo_info.livro.cod }}</td>
                <td>
                    <a href="{% url 'livro-detail' emprestimo_info.livro.id %}">
                        {{ emprestimo_info.livro.name }}
                    </a>
                </td>
                <td>{{ emprestimo_info.livro.author }}</td>
                <td>{{ emprestimo_info.cliente }}</td>
                <td>{{ emprestimo_info.data_prev_devolucao }}</td>
                <td>{{ emprestimo_info.dias_para_devolver }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>